node_modules/
client/node_modules/
client/*.js
server/node_modules/
server/lib/
server/src/gql-types.ts
server/.nyc_output/
coverage/
secrets.json
project-health-test-358b8bfb05e4.json
.nyc_output/
build/
