language: node_js
node_js: '8'
sudo: false
dist: trusty
cache:
  directories:
  - node_modules

before_install:
- openssl aes-256-cbc -K $encrypted_5059668afa37_key -iv $encrypted_5059668afa37_iv -in github-health-staging-5ed56f9155c0-travis.json.enc -out github-health-staging-5ed56f9155c0-travis.json -d

script:
- npm run test

after_script:
- npm run report-coverage

deploy:
  provider: gae
  config: build/app.yaml
  keyfile: github-health-staging-5ed56f9155c0-travis.json
  project: github-health-staging
  default: true
