language: node_js
node_js: '8'
sudo: false
dist: trusty
cache:
  directories:
  - server/node_modules
  - client/node_modules
  - node_modules

install:
- npm run npm-install

script:
- "(cd client && npm run build)"
- "(cd server && npm run test)"

after_script:
- "(cd server && npm run report-coverage)"
