@import "./variables/colors.css";
@import "./variables/dimens.css";
@import url(//fonts.googleapis.com/css?family=Google+Sans:400,500);

:root {
  --default-font: Helvetica, Arial, sans-serif;
  --heading-font: 'Google Sans', Arial, sans-serif;
}

html {
  overflow-y: scroll;
}

body {
  font-family: var(--default-font);
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

app-element {
  max-width: var(--max-desktop-width);
  width: var(--max-desktop-width);
  padding: 0 var(--padding);
  margin: 0 auto;
}

app-element > :not([selected]) {
  display: none;
}

@media (max-width: 1550px) {
  app-element {
    flex: 1;
    margin-left: calc(var(--nav-size) + var(--grid-size));
    width: auto;
  }
}

h1, h2 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 24px;
  font-weight: 500;
}

h2 {
  font-size: 22px;
  font-weight: normal;
  padding-bottom: var(--padding);
  border-bottom: 1px solid var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;
}

h6 {
  font-weight: 700;
  line-height: 24px;
}

a {
  text-decoration: underline;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.small-heading {
  font-weight: 700;
  line-height: 24px;
  font-size: 14px;
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: auto;
  padding: var(--padding) 0;
  border-top: 1px solid var(--light-grey);
  color: var(--secondary-text-color);
}
