@import "./variables/dimens.css";
@import "./variables/colors.css";
@import "./variables/z-index.css";
@import "./components/profile.css";
@import "./components/dashboard-row.css";
@import "./components/empty-message.css";
@import "./components/legend.css";
@import "./components/issues.css";

.pr-list a {
  text-decoration-line: none;
  color: inherit;
}

.pr-list {
  font-size: 14px;
  margin-bottom: var(--padding);
}

.pr-list__empty-message {
  color: var(--secondary-text-color);
}
