@import "./variables/dimens.css";
@import "./variables/colors.css";
@import "./variables/z-index.css";
@import "./components/profile.css";
@import "./components/dashboard-row.css";
@import "./components/empty-message.css";

.pr-list a {
  text-decoration: none;
  color: inherit;
}

.pr-list {
  font-size: 14px;
  margin-bottom: var(--padding);
}

.pr-list__empty-message {
  color: var(--secondary-text-color);
}

.dashboard-row-status__msg.pr-status__merge {
  color: var(--merge-text-color);
}

.actionable {
  color: var(--actionable-color);
}

/* Actionable Flash */
@keyframes flash {
  0% {
    background-color: var(--actionable-highlight-color);
  }
  to {
    background-color: var(--page-bg-color);
  }
}

.dashboard-row.actionable-flash, .dashboard-row.actionable-flash > .dashboard-row-event:last-child > .dashboard-row-event__bullet svg {
  animation-fill-mode: backwards;
  animation-delay: 200ms;
  animation-duration: 500ms;
  animation-name: flash;
}
