@import "./variables/dimens.css";
@import "./variables/colors.css";
@import "./variables/z-index.css";
@import "./components/row-element.css";
@import "./components/empty-message.css";
@import "./components/filter-legend.css";
@import "./components/issues.css";
@import "./components/push-toggle.css";

.pr-list a, issue-list a, pull-request-list a {
  text-decoration-line: none;
  color: inherit;
}

.pr-list, issue-list, pull-request-list {
  font-size: 14px;
  margin-bottom: var(--padding);
  display: block;
}

.pr-list__empty-message {
  color: var(--secondary-text-color);
}

.view-all__button {
  display: block;
  border: 1px solid var(--light-grey);
  border-radius: 3px;
  margin: var(--padding) auto;
  padding: var(--padding);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-container #page-header {
  flex: 1;
  margin-bottom: 0;
}
