@import "./variables/colors.css";
@import "./variables/dimens.css";
@import "../../../../node_modules/@material/switch/dist/mdc.switch.min.css";

.settings-toggle-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--padding);
}

.settings-toggle-item__toggle {
  margin-right: calc(var(--padding) * 2);
}

.settings-toggle-item__details h6, .settings-toggle-item__details p {
  margin: 0;
}

.settings-toggle-item__details {
  font-size: 14px;
}

.settings-toggle-item__details p {
  color: var(--secondary-text-color);
}
