:root {
  --light-grey: hsl(0, 0%, 80%);

  --merge-text-color: hsl(119, 53%, 35%); /* 4.5 contrast ratio on white */
  --actionable-color: hsl(24, 97%, 40%); /* 4.5 contrast ratio on white */
  --actionable-highlight-color: hsl(37, 93%, 92%);
  --non-actionable-color: hsl(211, 100%, 46%); /* 4.6 contrast ratio on white */
  --secondary-text-color: hsl(0, 0%, 40%); /* 5.7 contrast ratio on white */
  --timeline-color: hsl(0, 0%, 75%);
  --profile-border-color: var(--light-grey);
  --avatar-bg-color: var(--light-grey);
  --profile-button-color: hsl(0, 0%, 40%);
  --profile-button-hover-color: hsl(0, 0%, 20%);
  --page-bg-color: white;
  --incognito-color: hsl(0, 0%, 20%);
  --red-color: #d0021b;

  /* Styles sliders used on settings */
  --mdc-theme-secondary: rgb(57, 73, 171);
}
