:root {
  --padding: 12px;
  --grid-size: 16px;
  --small-text: 12px;

  --avatar-size: 40px;
  --time-width: 100px;

  --max-desktop-width: 1024px;
  --nav-size: 250px;

  --new-activity-indicator-size: 8px;
}
