@import "./../variables/dimens.css";
@import "./../variables/colors.css";

.issue-info {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  font-size: var(--small-text);
  color: var(--secondary-text-color);
}

.issue-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.issue-popularity {
  align-self: center;
  flex-shrink: 0;
}

.material-icons-extended.issue-popularity__fire {
  font-size: 14px;
  color: hsl(0, 0%, 83%);
  margin: 0px -1px;
}

.issue-popularity[score='1'] .issue-popularity__fire:nth-child(-n+1) {
  color: var(--actionable-color, red);
}

.issue-popularity[score='2'] .issue-popularity__fire:nth-child(-n+2) {
  color: var(--actionable-color, red);
}

.issue-popularity[score='3'] .issue-popularity__fire:nth-child(-n+3) {
  color: var(--actionable-color, red);
}

.issue-popularity[score='4'] .issue-popularity__fire:nth-child(-n+4) {
  color: var(--actionable-color, red);
}
