@import "./../variables/dimens.css";
@import "./../variables/colors.css";

nav-element-input {
  cursor: pointer;
  display: block;
}

nav-element-input input {
  padding: 8px;
  margin: -8px;
  border: none;
}
