nav-element {
  width: var(--nav-size);
  display: flex;
  flex-direction: column;
  margin-right: var(--grid-size);
  font-size: 14px;
  line-height: 20px;
  flex-shrink: 0;
  position: absolute;
}

.nav-title {
  color: var(--non-actionable-color);
  font-family: var(--heading-font);
  font-weight: 500;
}

.nav-item {
  padding: var(--padding);
  display: flex;
  text-decoration: none;
  border-radius: 0 22px 22px 0;
}

.nav-item.selected {
  background-color: hsla(0, 0%, 0%, 0.05);
  font-weight: bold;
}

a.nav-item:hover {
  background-color: hsla(211, 100%, 46%, 0.05);
}

.nav-item__avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: var(--grid-size);
}

.nav-item-actions {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.settings {
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--profile-button-color);
  mask-image: url('/images/settings.svg');
  -webkit-mask-size: 20px;
}

.settings:hover {
  background-color: var(--profile-button-hover-color);
}

.nav-item__separator {
  width: 100%;
  height: 1px;
  margin: var(--padding) 0;
  background-color: hsla(0, 0%, 0%, 0.07);
}
