@import "./../variables/dimens.css";
@import "./../variables/colors.css";
@import "./nav-element-input.css";

nav-element {
  width: var(--nav-size);
  display: flex;
  flex-direction: column;
  margin-right: var(--grid-size);
  font-size: 14px;
  line-height: 20px;
  flex-shrink: 0;
  position: absolute;
  color: var(--nav-color);
}

.nav-title {
  color: var(--non-actionable-color);
  font-family: var(--heading-font);
  font-weight: 500;
}

.nav-item {
  padding: var(--padding);
  display: flex;
  text-decoration: none;
  border-radius: 0 22px 22px 0;
}

.nav-item.selected {
  background-color: hsla(0, 0%, 0%, 0.05);
  font-weight: bold;
}

a.nav-item:hover, nav-element-input:hover {
  background-color: hsla(211, 100%, 46%, 0.05);
}

i.nav-item__avatar {
  font-size: 20px;
}

.nav-item__avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: var(--grid-size);
  color: var(--nav-icon-color);
}

.nav-item__separator {
  width: 100%;
  height: 1px;
  margin: var(--padding) 0;
  background-color: hsla(0, 0%, 0%, 0.07);
}

.nav-item.selected .nav-item__buttons {
  display: flex;
}

.nav-item__buttons {
  flex-grow: 1;
  display: none;
  justify-content: flex-end;
}

.nav-item__buttons .nav-item__action {
  visibility: hidden;
  font-size: 20px;
}

.nav-item:hover .nav-item__action {
  visibility: visible;
  color: var(--nav-icon-color);
}

.nav-item .nav-item__action:hover {
  color: var(--nav-icon-hover-color);
}
