@import "../variables/dimens.css";
@import "../variables/colors.css";
@import "../variables/z-index.css";

row-element {
  display: block;
  position: relative;
  overflow: hidden;
}

row-element.has-events::before {
  position: absolute;
  top: calc((var(--padding) / 3) + 1px);
  bottom: calc(var(--padding));
  left: calc(var(--time-width) + var(--padding) + var(--avatar-size) / 2 - 1px);
  display: block;
  width: 3px;
  content: "";
  background-color: var(--timeline-color);
  z-index: var(--z-index-pr-line);
}

row-header, .dashboard-row-event {
  display: flex;
  flex-shrink: 0;
}

.dashboard-row-author {
  width: var(--time-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  font-size: var(--small-text);
  font-weight: normal;
  flex-shrink: 0;
}

.dashboard-row-author__creation-time {
  color: var(--secondary-text-color);
}

.dashboard-row-avatar {
  height: var(--avatar-size);
  width: var(--avatar-size);
  min-width: var(--avatar-size);
  margin: calc(var(--padding) / 3) var(--padding);
}

.dashboard-row-avatar__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  background: white;
}

.dashboard-row-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--non-actionable-color);
}

row-element[type='actionable'] .dashboard-row-status__msg {
  color: var(--actionable-color);
}

row-element[type='complete'] .dashboard-row-status__msg {
  color: var(--merge-text-color);
}

row-element[type='passive'] .dashboard-row-status__msg {
  color: var(--passive-color);
}

.dashboard-row-status__has-activity {
  width: var(--new-activity-indicator-size);
  height: var(--new-activity-indicator-size);

  border-radius: 100%;

  margin-left: calc(var(--padding) / 2);

  background-color: var(--non-actionable-color);
  display: none;
}

.dashboard-row-link[has-new-activity=true] .dashboard-row-status__has-activity {
  display: block;
}

row-element[type='complete'] .dashboard-row-status__has-activity {
  background-color: var(--merge-text-color);
}

row-element[type='actionable'] .dashboard-row-status__has-activity {
  background-color: var(--actionable-color);
}

row-element[type='complete'] a {
  text-decoration-color: var(--merge-text-color);
}

row-element[type='actionable'] a {
  text-decoration-color: var(--actionable-color);
}

row-element[type='activity'] a {
  text-decoration-color: var(--non-actionable-color);
}

.dashboard-row-link:hover .dashboard-row-info, .dashboard-row-event__url:hover {
  text-decoration-line: underline;
  text-decoration-color: inherit;
}

.dashboard-row-info {
  font-weight: bold;
}

.dashboard-row-info__repo-name {
  color: var(--secondary-text-color);
  margin-right: calc(var(--padding) / 2);
}

.dashboard-row-event {
  line-height: 18px;
}

.dashboard-row-event__bullet {
  min-height: 26px;
  width: var(--avatar-size);
  min-width: var(--avatar-size);
  margin: 0 var(--padding);
  position: relative; /* Allow SVG to size to this container */
}

.dashboard-row-event__time, .dashboard-row-event__title {
  margin: 4px 0px;
}

.dashboard-row-event__time {
  text-align: right;
  font-size: var(--small-text);
  color: var(--secondary-text-color);
  width: var(--time-width);
  min-width: var(--time-width);
  line-height: 18px;
}

.dashboard-row-event__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard-row-event__bullet svg {
  margin-top: 8px;
  stroke: var(--timeline-color);
  fill: white;
  stroke-width: 3px;
  position: absolute; /* Don't factor in SVG in layout */
  z-index: var(--z-index-pr-dot);
}

row-element, row-element > :last-child .dashboard-row-event__bullet svg {
  background-color: var(--page-bg-color);
}

.dashboard-row-event__url {
  display: inline-block;
}

.dashboard-row-event__option, .dashboard-row-event__action {
  background: none;
  border: none;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  text-align: left;
}

.dashboard-row-event__action {
  text-decoration-line: underline;
  text-decoration-color: inherit;
}

auto-merger .dashboard-row-event__bullet svg {
  stroke: var(--non-actionable-color);
}

auto-merger .dashboard-row-event.red-dot .dashboard-row-event__bullet svg {
  stroke: var(--red-color);
}

.dashboard-row-event.disconnected .dashboard-row-event__bullet::before {
  content: '';
  display: block;
  position: absolute;
  background-color: var(--page-bg-color);
  width: 100%;
  height: 100%;
  top: -8px;
  z-index: var(--z-index-pr-line-cover);
}
