@import "../variables/dimens.css";

toggle-element {
  font-size: 14px;
  line-height: 18px;
  user-select: none;
  cursor: pointer;
}

toggle-element span {
  vertical-align: middle;
}

toggle-element img {
  width: calc(var(--padding) * 2);
  height: calc(var(--padding) * 2);
  vertical-align: middle;
}

toggle-element[disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}
